<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div align="center">
<h1>Tool is : {{ tool.name }}</h1>
<p>Created at: {{ tool.created_at }} </p>
<br>
    {%  for field in fields %}
    <h2>name : {{ field.name }}</h2>
    <p>created_at : {{ field.created_at }}</p>
    <p>type : {{ field.type }}</p>
    <p>env : {{ field.env }}</p>
    <p>description : {{ field.description }}</p>
        <a href="{%  url 'view_tool'  %}">Back to tool</a>
        <br>
{% endfor %}
<br>
    <a href="{%  url 'index'  %}">Back to home screen</a>

    </div>
</body>
</html>